body {
  background-color: blue;
}
.text-header {
  background-image: url(./img/Group_5.png);
  background-repeat: no-repeat;
  background-size: 727px;
  height: 50%;
}

.App-header {
  width: 727px;
  height: 1104px;
  background-color: white;
}